export("create_lm")
export("compute_predictions")
export("plot_fit")
export("plot_predictions")
export("plot_residuals")
export("polynomial_lm")
export("poly_plot_fit")
export("poly_plot_residuals")
import(magrittr)
import(ggplot2)
import(tibble)
import(assertive)
